.sidebar{
    color:white;
    position: fixed;
    height: 100vmax;
    min-width: 230px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #040404;
}
.sidebar__logo{
    height:40px;
    padding: 20px;
    margin-right: auto;
}
.sidebar__title{
    margin-left: 10px;
    padding: 5px;
    color: grey;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.sidebar > hr{
    border:1px solid #282828;
    width: 90%;
    margin:10px auto;
}